header {
  background-color: #262626;
}

li {
  list-style: none;
}

a{
  color: white;
  text-decoration: none;
}

.navbar{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;

}
.nav-branding{
  font-size: 2rem;
}

.nav-link {
  transition: 0.7s ease;
}
.nav-link :hover {
  color: aquamarine;
}
.hamburger{
  display: none;
  cursor: pointer;
}
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

form{
  border: 2px solid rgba(84, 84, 84, 0.2);
  border-radius: 0.8rem;
  height: auto;
  width: 80%;
  margin-top: 1.5rem;
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body{
  background-color: rgba(255, 255, 255, 0.75);
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.creed2{
  display: flex;
  justify-content: center;
  align-self: center;
}
#creed2{
  margin-top: 0.5rem;
  width: 50rem;
  border-radius: 1.5rem;
}

.creed{
  display: none;
}

.comment{
  display: flex;
  justify-content: center;
  align-items: center;
}

#comment{
  margin-top: 0.5rem;
  width: 90%;
  border-radius: 0.5rem;
  resize: vertical;
}

#trailer{
  margin-left: -7.5rem;
  position: absolute;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  height: 1.5rem;
  width: 5.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.08rem;
  border-radius: 10px;
  border: none;
  outline: none;
  color: white;
  background: #333;
  box-shadow: 0 0.3rem rgba(121, 121, 121, 0.75);
}

#trailer:active{
  transform: translate(0,0.3rem);
  box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}

#beschreibung{
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  height: 1.5rem;
  width: 7.6rem;
  margin-left: 7.5rem;
  padding-left: 0.8rem;
  padding-right: 0.5rem;
  border-radius: 10px;
  border: none;
  outline: none;
  color: white;
  background: #333;
  box-shadow: 0 0.3rem rgba(121, 121, 121, 0.75);
}

#beschreibung:active{
  transform: translate(0,0.3rem);
  box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}

.trbe{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#commentsend {
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  height: 1.5rem;
  border-radius: 10px;
  border: none;
  outline: none;
  color: white;
  background: #333;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: 0 0.3rem rgba(121, 121, 121, 0.75);
}

.commentsend {
  display: flex;
  justify-content: center;
}

#commentsend:active{
  transform: translate(0,0.3rem);
  box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}

#comments {
  margin-top: 20px;
  padding: 0.5rem;
  font-size: large;
  width: 90%;
  border: 2px solid rgba(84, 84, 84, 0.4);
  border-radius: 1rem;
}

.comments{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media(max-width:1536px){
  
#creed{
  width: 20rem;
}

#comment{
  margin-top: 1.5rem;
  width: 40rem;
}

textarea{
  resize: vertical;
}

#comments{
  margin-top: 0.5rem;
  padding-left: 0.5rem;
  width: 60rem;
  font-size: large;
  border: 2px solid rgba(84, 84, 84, 0.2);
}

#commentsend {
  display: flex;
  text-align: center;
  cursor: pointer;
  margin-left: 62%;
  font-size: 1rem;
  height: 1.5rem;
  border-radius: 10px;
  border: none;
  outline: none;
  color: white;
  background: #333;
  margin-bottom: 1.5rem;
  box-shadow: 0 0.3rem rgba(121, 121, 121, 0.75);
}

#commentsend:active{
  transform: translate(0,0.3rem);
  box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}

form{
  padding-left: 4rem;
  padding-right: 4rem;
  margin-top: 1.5rem;
  width: 45rem;
  border: 2px solid rgba(84, 84, 84, 0.2);
  height: auto;
}

/*Trailer + Beschreibung*/
#trailer{
  position: absolute;
  display: flex;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  height: 1.5rem;
  width: 5.5rem;
  margin-left: -7.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.08rem;
  border-radius: 10px;
  border: none;
  outline: none;
  color: white;
  background: #333;
  box-shadow: 0 0.3rem rgba(121, 121, 121, 0.75);
}
#trailer:active{
  transform: translate(0,0.3rem);
  box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}

#beschreibung{
  display: flex;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  height: 1.5rem;
  width: 7.6rem;
  margin-left: 7.5rem;
  padding-left: 0.8rem;
  padding-right: 0.5rem;
  border-radius: 10px;
  border: none;
  outline: none;
  color: white;
  background: #333;
  box-shadow: 0 0.3rem rgba(121, 121, 121, 0.75);
}
#beschreibung:active{
  transform: translate(0,0.3rem);
  box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
}
}

@media(max-width: 1000px){
  /*Kommentarbox*/
  form {
      width: 90%;
      margin: 5px;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      margin-top: 1.5rem;
      border: 2px solid rgba(84, 84, 84, 0.2);
      height: auto;
      }
      
      textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
      }
  
      #comment{
        width: 95%;
        margin-top: 0.5rem;
      }
  
      .commentsend{
        display: flex;
        justify-content: center;
      }
    
      #commentsend {
        margin: 0;
        margin-top: 0.5rem;
        cursor: pointer;
        margin-bottom: 0.5rem;
        font-size: 1rem;
        height: 1.5rem;
        border-radius: 10px;
        border: none;
        outline: none;
        color: white;
        background: #333;
        box-shadow: 0 0.3rem rgba(121, 121, 121, 0.75);
      }
    
      #commentsend:active{
        transform: translate(0,0.3rem);
        box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
      }

      /*Kommentare*/
    #comments {
      margin-top: 20px;
      font-size: large;
      width: 95%;
      border: 2px solid rgba(84, 84, 84, 0.2);
    }
}

@media(max-width:768px)
{
  header{
      margin: -10px;
  }
  .hamburger{
    display: block;
  }
  .hamburger.active .bar:nth-child(2)
  {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1)
  {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3)
  {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu{
      border-top: 2px solid rgba(84, 84, 84, 0.5);
      margin-top: -10px;
      position: fixed;
      left: -200%;
      top: 70px;
      gap: 0;
      flex-direction: column;
      background-color: #262626;
      width: 100%;
      text-align: center;
      transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: -30px;
  }

  .creed2{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 45rem;
  }

}


@media only screen and (max-width: 430px) {
  /*Kommentarbox*/
  form {
    width: 80%;
    margin: 5px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 1.5rem;
    border: 2px solid rgba(84, 84, 84, 0.2);
    height: auto;
    }
    
    textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
    }

    #comment{
      width: 80%;
      margin-top: 0.5rem;
    }

    .commentsend{
      display: flex;
      justify-content: center;
    }
  
    #commentsend {
      display: flex;
      text-align: center;
      cursor: pointer;
      margin-bottom: 0.5rem;
      margin-left: 30%;
      font-size: 1rem;
      height: 1.5rem;
      border-radius: 10px;
      border: none;
      outline: none;
      color: white;
      background: #333;
      box-shadow: 0 0.3rem rgba(121, 121, 121, 0.75);
    }
  
    #commentsend:active{
      transform: translate(0,0.3rem);
      box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
    }
  /*Trailer + Beschreibung*/
    #trailer{
      text-decoration: none;
      cursor: pointer;
      font-size: 1rem;
      height: 1.4rem;
      width: 5.5rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      padding-top: 0.08rem;
      border-radius: 10px;
      border: none;
      outline: none;
      color: white;
      background: #333;
      box-shadow: 0 0.3rem rgba(121, 121, 121, 0.75);
    }
    #trailer:active{
      transform: translate(0,0.3rem);
      box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
    }
  
    #beschreibung{
      text-decoration: none;
      cursor: pointer;
      font-size: 1rem;
      height: 1.5rem;
      width: 7.6rem;
      padding-left: 0.75rem;
      padding-right: 0.5rem;
      border-radius: 10px;
      border: none;
      outline: none;
      color: white;
      background: #333;
      box-shadow: 0 0.3rem rgba(121, 121, 121, 0.75);
    }

    #beschreibung:active{
      transform: translate(0,0.3rem);
      box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65);
    }
  /*Kommentare*/
    #comments {
      display: block;
      margin-top: 20px;
      font-size: large;
      width: 90%;
      border: 2px solid rgba(84, 84, 84, 0.2);
    }
  /*Bilder*/
    #creed{
      margin-left: 0;
      margin-top: 15px;
      width: 360px;
      height: 467px;
    }

    .creed{
      display: flex;
      justify-content: center;
    }

    .creed2{
      display: none;
    }
  }
  /*Popup-Fenster*/
  .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0,0,0,0.5);
    }
    
    .modal-inhalt {
      background-color: #fefefe;
      margin: 15px auto;
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
    }
    
    .modal-schließen {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    
    .modal-schließen:hover,
    .modal-schließen:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }